:root{
    --red: #f5135c;
    --grey: #434547;
    --max: 1160px;
    --plumb: 'Plumb',  Arial, Helvetica, sans-serif;
    --trebuchet: 'Trebuchet', Arial, Helvetica, sans-serif;
    --text_17: calc( (100vw - 300px)/(1160 - 300) * (17 - 12) + 12px); /*font-size: 17px*/
    --text_16: calc( (100vw - 300px)/(1160 - 300) * (16 - 11) + 11px);
    --text_18: calc( (100vw - 300px)/(1160 - 300) * (18 - 15) + 15px);
    --text_29: calc( (100vw - 300px)/(1160 - 300) * (29 - 17) + 17px);
    --text_48: calc( (100vw - 300px)/(1160 - 300) * (42 - 20) + 20px);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--plumb);
}
.header{
    text-transform: uppercase;
    position: fixed;
    z-index: 19;
    width: 100%;
}
.container{
    width: 90%;
    max-width: var(--max);
    margin: 0 auto;
}
.header__logo{
    max-width: 240px;
    width: 30vw;
}
.header__logo img{
    width: 100%;
}
.header li{
    list-style-type: none;
}
.header__top_list, .header__bottom_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header__burger{
    display: none;
}
.header__body{
    position: fixed;
    z-index: 3;
    background: linear-gradient(#7291b3 25%, #465983 );
    width: 100%;
    top: 36px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__info{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--grey);
    height: 36px;
    font-size: var(--text_17);
    z-index: 3;
}
.header__info ul{
    margin: 0px auto;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
.header__info ul span{
    color: var(--red);  
}
.header__list{
    position: fixed;
    width: 100%;
    height: 43px;
    background-color: #fff;
    opacity: 78%;
    box-shadow: 0 0 5px;
    top: 126px;
    z-index: 2;
}
.header__top_list{
    max-width: 968px;
    width: 80%;
}
.header__bottom_list{
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}
.header__bottom_list li::after, .header__bottom_list li:first-child::before{
    content: ' ';
    background: radial-gradient(var(--grey), #fff );
    width: 2px;
    height: 25px;
    position: absolute;
    display: block;
    
}
.header__bottom_list li::after{
    right: 0;
}
.header__bottom_list li:first-child::before{
    left: 0;
}
.header__bottom_list li:first-child::before{
    width: 2px;
}
.header__bottom_list li{
    position: relative;
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
}
.header__bottom_list a{
    text-decoration: none;
    color: #000;
    width: 80%;
    text-align: center;
    padding: 2px 0;
    font-size: var(--text_18);
}
.header__bottom_list a:hover, .header__bottom_list .active_link{
    border-bottom: 2px solid var(--red);
    margin-top: 2px;
}
.header__bottom_sub_menu{
    position: absolute;
    background: #fff;
    width: 100%;
    padding: 20px 0;
    transition: 0.5s;
    opacity: 0;
    z-index: 1;
    top: 100%;
}
.header__sub:hover .header__bottom_sub_menu{
    display: block;
    transition: 0.5s;
    opacity: 1;
}
.dropbtn{
    margin: 5px 0 0 5px;
    transition: 0.2s;
    border: 5px solid transparent; border-top: 4px solid var(--grey);
}
.header__list li:hover .dropbtn{
    transform: rotate(-90deg);
    transition: 0.2s;
    margin-top: 0;
}
.header__bottom_sub_menu li{
    width: 100%;
}
.header__bottom_sub_menu li a{
    line-height: 25px;
    font-size: var(--text_17);
}
.header__bottom_sub_menu li::before, .header__bottom_sub_menu li::after{
    opacity: 0;
}

.bkg{
    padding-top: 196px;
    background: url('src/bkg.png') center no-repeat;
    background-size: cover;
    text-align: right;
    height: 500px;
    text-transform: uppercase;
}
.bkg h1{
    font-size: var(--text_29);
    display: block;
    position: relative;
    margin-top: 418px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;

}
.first_block{
    margin-top: 62px;
    color: #272727;
    line-height: 24px;
    font-size: var(--text_16);
    font-family: var(--trebuchet);
}

.first_block__head{
    text-transform: uppercase;
    color: #fff;
    background-color: var(--red);
    font-size: var(--text_29);
    font-family:  var(--plumb);
    padding: 15px 0;
    text-align: center;
}
.first_block__text_1{
    text-align: center;
    width: 90%;
    margin: 37px auto 0 ;
}
.first_block__body{
    margin: 47px auto 0;
    width: 90%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.first_block__info{
    flex: 2;
    margin-left: 5%;
}
.first_block__body img{
    flex: 1;
}
.first_block__text_2{
    font-weight: bold;
}
.first_block__list li{
    list-style-type: none;
    margin-top: 24px;
}
.first_block__list li::before{
    content : url('src/check.png');
    margin-right: 10px;
}
.first_block__text_3{
    display: block;
    color: var(--red);
    text-transform: uppercase;
    text-align: center;
    margin: 54px auto 0;
    font-size: var(--text_18);
    width: 85%;
}

.second_block{
    background: url('src/second_block__bkg.png') center no-repeat ;
    background-size: cover;
    text-transform: uppercase;
    color: #fff;
    height: auto;
    margin-top: 90px;
    padding: 45px 0 300px;
    font-family: var(--trebuchet);
}
.second_block__text_1{
    display: block;
    width: 90%;
    margin: 0 auto;
    line-height: 24px;
    font-size: var(--text_18);
    text-align: center;
}
.second_block h2{
    margin-top: 40px;
    text-align: center;
    display: block;
    font-size: var(--text_48);
    font-weight: normal;
    font-family:  var(--plumb);
    background: url('src/second_block__h2.png') top no-repeat;
    height: 90px;
    padding-top: 12px;
}
.second_block__body{
    display: flex;
    justify-content: space-between;
}
.second_block__body div{
    text-align: center;
    width: 40%;
}
.second_block__body img{
    width: 50%;
    margin-top: 30px;
}
.second_block__body span{
    margin: 35px 0;
    display: block;
    font-family:  var(--plumb);
    font-size: var(--text_29);
}
.second_block__body p{
    text-transform: none;
    display: block;
    font-size: var(--text_17);
    line-height: 27px;
}
.third_block .container{
    display: flex;
    position: relative;
    align-items: center;
}
.third_block{
    background: url('src/third_block__bkg.png') center no-repeat;
    background-size: cover;
    padding: 90px 0;
    margin-top: -200px;
}
.third_block__text_1{
    font-size: var(--text_29);
    color: #fff;
    font-family:  var(--plumb);
    text-transform: uppercase;
    width: 20%;
    line-height: 36px;
}
.third_block__img_1{
    position: absolute;
    width: 35%;
    left: 0;
}
.third_block__img_2{
    background: url('src/arrow.png') center no-repeat;
    width: 10%;
    margin-left: 35%;
}
.third_block form{
    position: absolute;
    right: 0;
    width: 25%;
    padding: 45px 0 25px;
    background: url('src/third_block__form.png') center no-repeat;
    background-size: cover;
    
}
.third_block form span{
    font-family: var(--trebuchet);
    font-size: var(--text_18);
    color: #56575b;
    line-height: 24px;
    width: 70%;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.third_block form input, .third_block form textarea{
    position: relative;
    display: block;
    margin: 12px auto;
    width: 80%;
    padding: 5px 6px;
    box-sizing: border-box;
    outline: none;
}
.third_block form hr{
    display: block;
    height: 1px;
    background-color: #000;
    border: 0;
    opacity: 0.28;
    width: 83%;
    margin: 10px auto 0;
}
.third_block form ::placeholder{
    font-style: italic;
    color: #969494;
    font-family: var(--trebuchet);
    font-size: 14px;
}
.third_block form .third_block__submit{
    background: linear-gradient(#7291b3 25%, #465983 );
    font-family: var(--trebuchet);
    font-size: 14px;
    color: #fff;
    width: 60%;
    padding: 7px 0;
    border-radius: 7px;
    border: 0px ;
    box-shadow:inset 0 2px 0 0 #becbda;

}
.third_block form .third_block__submit:hover{
    background: linear-gradient( #9aabc5 25% , #647da6 );
    box-shadow:inset 0 2px 0 0 #ced6e3;
}
.third_block form .third_block__submit:active{
    background: linear-gradient( #20437a 25% , #142b4e );
    box-shadow:inset 0 2px 0 0 #90a2be;
}

@media (max-width: 767px){
    .header__burger{
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 2;
    }
    .header__burger::after,  .header__burger::before{
        content: '';
        background-color: #fff;
        height: 2px;
        width: 100%;
        position: absolute;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger span{
        background-color: #fff;
        width: 100%;
        height: 2px;
        position: absolute;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__list{
        background-color: #fff;
        position: fixed;
        height: 100%;
        width: 100%;
        padding-top: 50px;
        z-index: 1;
        top: -100%;
        transition: 0.5s;
    }
    .header__info{
        position: fixed;
        z-index: 2;
        padding-top: 10px;
        top: -100%;
        transition: 0.5s;
        height: auto;
    }
    .header__list.active{
        top: 150px;
        transition: 0.5s;
    }
    .header__info.active{
        top: 50px;
        transition: 0.5s;
    }
    .header__body{
        position: fixed;
        height: 50px;
        justify-content: space-between;
        padding: 0 10px;
        box-sizing: border-box;
        top: 0;
    }
    .header__top_list{
        display: flex;
        flex-direction: column;
        line-height: 25px;
    }
    .header__bottom_list{
        display: block;
        text-align: center;
    }
    .header__bottom_list a{
        line-height: 50px;
        font-size: 18px;
        box-sizing: border-box;
    }
    .header__bottom_list a:hover{
        box-sizing: border-box;
        margin-top: 0;
    }
    .header__bottom_list li{
        width: 80%;
        margin: 0 auto;
    }
    .header__bottom_list li::before{
        content: ' ';
        background: radial-gradient(var(--grey), #fff );
        width: 2px;
        height: 25px;
        position: absolute;
        display: block;
        left: 0;
    }
    .bkg{
        height: 150px;
    }
    .bkg h1{
        margin-top: 97px;
    }
    .first_block__body{
        flex-direction: column;
    }
    .first_block__info{
        text-align: justify;
        margin-top: 47px;
    }
    .first_block__text_1{
        text-align: justify;
    }
    .first_block__body img{
        width: 90%;
    }
    .second_block h2{
        background-size: cover;
        height: 70px;
        padding-top: 26px;
    }
    .second_block__body{
        flex-direction: column;

    }
    .second_block__body div{
        width: 100%;
    }
    .second_block__body img{
        width: 20%;
    }
    .second_block__body span{
        margin: 10px 0;
    }
    .second_block__body p{
        line-height: 20px;
    }
    .third_block .container{
        flex-direction: column;
    }
    .third_block__img_1, .third_block form{
        position: relative;
        
    }
    .third_block__text_1, .third_block form{
        width: 100%;
        text-align: center;
    }
    .third_block__text_1{
        margin: 20px 0;
    }
    .third_block{
        padding: 50px 0;
        margin-top: -210px;
    }
}
@media (max-width: 380px){
    .second_block h2{
        padding-top: 12px;
    }
}

@font-face {
    font-family: 'Plumb';
    src: url("src/PlumbRegular.ttf");
}
@font-face {
    font-family: 'Trebuchet';
    src: url("src/TrebuchetMS.ttf");
}
